<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="benefits">
      <h2 data-cy="benefitsDetailsHeading"><span>Benefits</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ benefits.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ benefits.name }}</span>
        </dd>
        <dt><span>Employee</span></dt>
        <dd>
          <div *ngIf="benefits.employee">
            <a [routerLink]="['/employee', benefits.employee?.id, 'view']">{{ benefits.employee?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/benefits', benefits.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
