<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="trainingHistory">
      <h2 data-cy="trainingHistoryDetailsHeading"><span>Training History</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ trainingHistory.id }}</span>
        </dd>
        <dt><span>Training Name</span></dt>
        <dd>
          <span>{{ trainingHistory.trainingName }}</span>
        </dd>
        <dt><span>Training Date</span></dt>
        <dd>
          <span>{{ trainingHistory.trainingDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Employee</span></dt>
        <dd>
          <div *ngIf="trainingHistory.employee">
            <a [routerLink]="['/employee', trainingHistory.employee?.id, 'view']">{{ trainingHistory.employee?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/training-history', trainingHistory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
